link(rel='stylesheet', href='/stylesheets/building.css')

.sidebar
  h1= title
  p 100 resources left.
  p Still alive: You and 4 guards.
  .blueprints#blueprints
    h3 Your blueprints:
    ul
      li.blueprint
        p.cost 5 resources
        h4 Traphole
        p A hole in the ground covered with some rotten planks.
        .block
          button.buildRoom(data-type="Traphole") Build Traphole
      li.blueprint
        p.cost 10 resources
        h4 Hiding spot
        p One hidden guard can make a surprise attack from here.
        .block
          button.buildRoom(data-type="Hiding spot") Build Hiding spot
      li.blueprint
        p.cost 20 resources
        h4 Guardpost
        p Two guards stationed here can fire a few round on intruders before falling back.
        .block
          button.buildRoom(data-type="Guardpost") Build Guardpost

.game#building
  != buildingHTML

script(src='/es5.js')
script(src='/jquery.js')
script(src='/faye.js')
script(src='/when.js')
script(src='/event-emitter.js')
script(src='/shared/event-hub.js')
script(src='/shared/room.js')
script(src='/shared/rooms.js')
script(src='/shared/building.js')
script(src='/shared/building-renderer.js')
script(src='/shared/building-controller.js')
script(src='/client/server.js')
script(src='/client/update-building-view.js')
script(src='/client/blueprint-controller.js')
script(src='/scripts/building-page.js')
