link(rel='stylesheet', href='/stylesheets/capture.css')

h1 Capture the building


script(src='/client/building-data.js')
script(src='/client/render-floor.js')
script(src='/client/reveal-floor.js')
script(src='/scripts/capture-page.js')