!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    !=body
    script(src='/es5.js')
    script(src='/jquery.js')
    script(src='/faye.js')
    script(src='/when.js')
    script(src='/event-emitter.js')
    script(src='/shared/building.js')
    script(src='/shared/building-renderer.js')
    script(src='/shared/building-controller.js')
    script(src='/client/update-building-view.js')
    script(src='/client/blueprint-controller.js')
    script(src='/scripts/building-page.js')
