body { padding: 50px; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; min-width: 550px;}

h1,h2,h3,h4,h5,h6,strong {font-weight: bold;}

h1 {font-size: 30px;}
h2 {font-size: 24px;}
h3 {font-size: 16px;}

h1,h2,h3,h4,h5,h6,ul,ol,p,blockquote,.block {margin: 10px;}
